header {
    padding: 0px;
    height: 100px;
    width: 100%;
    background-image: url("espace.jpg");
    display: flex;
}

header ul {
    margin: 20px;
    display: flex;
    gap: 20px;
    list-style: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;

}

a {
    color: White;
    text-decoration: none;
    font-size: 16px;
}

.espace {
    /*border: 2px solid green;*/
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.logo {
    margin: 16px;
    object-fit: contain;
    height: 50px;
    width: 50px;

}

/*h2 {
    border: 2px solid yellow;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 16px;
    color: white;
}*/



@media screen and (min-width:600px) {
    header {
        display: flex;
        flex-direction: row;
    }

    header ul {
        display: flex;
        justify-content: end;

    }
}