header {
    padding: 0px;
    height: 100px;
    width: 100%;
    background-image: url("espace.jpg");
    display: flex;
}

header ul {
    margin: 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    list-style: none;
}

nav {
    display: flex;
    width: 100%;
}

a {
    color: White;
    text-decoration: none;
    font-size: 16px;
}

.espace {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.logo {
    margin: 16px;
    object-fit: contain;
    height: 70px;
    width: 70px;
}

h2 {
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}



@media screen and (min-width:600px) {
    header {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

    }

    header ul {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

    }
}

@media screen and (max-width:700px) {
    h2 {
        display: none;
    }
}