* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: black;

}


main {
    min-height: calc(100vh - 15vh - 10vh);
    /* mettre une height au footer et au header de même taille*/
}

main h1 {
    font-size: 32px;
    text-align: center;
    margin: 0px;
    padding: 15px;
}


.planete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

main input {
    width: 50%;
    margin: 50px;

}

main div {
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (min-width: 700px) {
    main {
        /*background-color: blue;*/
    }

    .planete {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    #barre {
        max-width: 500px;
    }

}

/* display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 par ligne */
/* gap: 10px;  */