* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: rgb(10, 1, 1);
    
    
}



main h1 {
    font-size: 32px;
    justify-content: center;
    

}


.planete {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#barre {
  
}





@media screen and (min-width: 700px) {
    main {
        
    }

    .planete {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: 2 30%;



    }

    

}

/* display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 par ligne */
/* gap: 10px;  */